.container {
    display: flex;
    flex-direction: row;
    width:100%;
    background-color: #383838;
    height: 25%;
}

.nav {
    color: white;
    font-weight: 100;
    align-self: flex-start;
    font-size: small;
    text-decoration: none;
    outline: none;
}