.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
    background-color: #3f888f;
    height: auto;
    margin-top: 10px;
}

.footer {
    color: white;
    font-weight: 100;
    align-self: center;
    font-size: small;
}