.container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    background-color:#F0F0F0;
    height:100%;
    @media only screen and (max-width: 600px) {
        display:flex;
        flex-direction: column;
    }
}

.button {
    padding: 5px;
    border:solid 1px blue;
    color: blue;
    width:20%;
    align-self: center;
}

.card {
    margin:5px;
}